.float{
	position:fixed;
	width:90px;
	height:90px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

.abajo{
	bottom: 0;
	left: 0;
	right: 0;
}
#video {
	position: absolute;
	width: 1920px;
	z-index: -1;
	margin-left: 0;
	margin-right: 0;

}

.fondo{
	position: relative;
	width: 100%; height: 100vh;
	overflow: hidden;
}

