.float{
	position:fixed;
	width:40px;
	height: 40px;
	bottom: 30%;
	right: 40px;
	color:#FFF;
	text-align:center;
	font-size:30px;
	box-shadow: 2px 2px 3px #999;
	z-index:100;
}

.my-float{
	margin-top:16px;
}

.abajo{
	bottom: 0;
	left: 0;
	right: 0;
}
#video {
	position: absolute;
	width: 1920px;
	z-index: -1;
	margin-left: 0;
	margin-right: 0;

}

.fondo{
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.especial{
	max-width: 148px;
	max-height: 120px;
}

img {
	width: 100%;
	height: auto;
}